[submodule "third_party/Cura"]
	path = third_party/Cura
	url = https://github.com/Ultimaker/Cura
[submodule "third_party/CuraEngine"]
	path = third_party/CuraEngine
	url = https://github.com/MosaicSlicer/CuraEngine
	branch = threaded
[submodule "third_party/fdm_materials"]
	path = third_party/fdm_materials
	url = https://github.com/Ultimaker/fdm_materials
