[submodule "CuraEngine"]
	path = CuraEngine
	url = https://github.com/Ultimaker/CuraEngine
[submodule "Cura"]
	path = Cura
	url = https://github.com/Ultimaker/Cura
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
