@import "./base.css";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

#sidebar-container {
  height: 100vh;
  width: max(30vw, 25rem);
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

#sidebar {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  gap: 0.5rem;

  background-color: var(--background-2);
  box-shadow: 0 0 1rem rgba(0, 0, 1, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  & > * {
    width: 100%;
  }

  h3 {
    margin: 0.5rem;
  }

  #profile-selector {
    display: flex;
    align-items: center;
    align-content: left;
  }

  #searchbar {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
    font-style: italic;

    input {
      width: 100%;
    }
  }

  #sections {
    display: flex;
    flex-grow: 1;

    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: thin;
  }
}

.section {
  border-top: 0.5px solid var(--grey);
  margin-right: 0.25rem;

  .section-title-container {
    font-size: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.4rem;

    .cura-icon {
      height: 1.5rem;
      width: 1.5rem;
      filter: invert();
    }

    .left {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-weight: 500;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 0.2rem;

      ion-icon {
        transition: 0.1s ease-in-out;
      }
    }

    &:hover {
      background-color: var(--grey-2);
    }
  }

  & > .settings {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding-left: 0.5rem;
  }

  &.closed {
    .settings {
      display: none;
    }

    .section-title-container {
      .right {
        ion-icon {
          transform: rotate(90deg);
        }
      }
    }
  }
}

.setting {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .setting-bar {
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    font-size: 0.8rem;

    .setting-value {
      height: 1.6rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: calc(0.33 * max(30vw, 25rem));
      min-width: calc(0.33 * max(30vw, 25rem));

      background-color: var(--grey-2);
      border-bottom: 1px solid var(--grey);

      input {
        flex-grow: 1;
        min-width: 0;
        background-color: transparent;
        border-bottom: none;
        outline-width: 0;
      }
      input[type="checkbox"] {
        flex-grow: 0;
        transform: scale(1.3);
        filter: grayscale(100%);
        user-select: none;
      }
      select {
        height: 100%;
        border: none;
        border-radius: 0;
        flex-grow: 1;
        background-color: var(--grey-2);
      }
      .unit-text {
        margin-right: 0.3rem;
        user-select: none;
      }
    }
    .setting-value[data-type="bool"] {
      background-color: initial;
      border-bottom: none;
    }
    .setting-value:focus-within {
      box-shadow: inset 0px 0px 0px 1px var(--grey);
    }
  }

  &.indented {
    padding-left: 0.5rem;
  }
}
